
:root{
  --color1:rgb(69 69 243);
  --color2:#1c31a5;
  --color3:#101f78;
  --color4:#020f59;
  --color5:#020f59;
  --background:#010937;
  --color-text:#f5f5ee;
  --color-bottom:linear-gradient(90deg, rgb(9 9 121 / 100%) 0%, rgb(0 153 255 / 100%) 100%);
}

body{
  font-family: Sora, sans-serif;
  background: var(--background);
  color:var(--color-text);
  margin: 0 65px;
}

li {
  list-style: none;
  margin-left: 25px;
}

pre{
  font-weight: 600;
}

#navbar a {
  color: var(--color-text);
  text-decoration: none;
}

.container{
  height: 170px;
}

#navbar a:hover{
  color: var(--color1);
}

#logo{
  font-size:2rem;
  margin: 0;
}

#encabezado{
  font-size:0.75rem;
  position: fixed;
  display:flex;
  justify-content:space-between;
  width: 90%;
  background-color: var(--color3);
  z-index: 3;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 5px 15px 10px;
}

#navbar ul{
  margin: 0;
  display:flex;
  justify-content:space-evenly;
  padding: 0;

}

#navbar{
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  
  

}

.saludo{
  font-size:3rem;
  text-align: center;
  animation: zoom 3.5s linear ;
}

@keyframes zoom {
  50%{
    transform: scale(1.5);
  }
  
}

#foto-parrafo{
  display: flex;
  justify-content: center;
  margin: 100px;
  padding:  0 100px;
  gap:150px;
}

.images{
  width: 250px;
  border-radius: 7px;
  box-shadow:  0 0 20px #001,20px 20px #09f;
  
}

article {
  width: 90%;
  line-height: 1.8em;
  height: 330px;
  overflow: hidden;
 
}

article > header{
  font-weight: bold;
  font-size: 1.8rem;
  
}

article > p{
  margin-top: 18px;
  margin-bottom: 18px;
}

section > header{
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.cards a > img{
  width: 550px;
  border-radius: 7px;
  box-shadow:  0 0 20px #001,20px 20px #09f;
  
}

.cards{
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 150px;
  min-height: 1300px;
  padding: 100px; 
  
}

.cards a img{
  transition: 1s;
}

.cards a :hover{
  transform: scale(1.1);
  transition: 1s;
}

.experience{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  min-height: 500px;
  padding: 50px;
  place-items: center center;
  max-width: 1000px;
  margin:  0 auto;
  
}

.icons{
  border-radius: 5px;
}

.icons:hover{
  transform: scale(1.1);
  transition: 0.5s; 
  box-shadow:
  0 0 10px #fff, 0 0 15px #fff;
}

#perfiles{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
  margin-bottom: 70px;
}

#profile-link{
  color: var(--color-text);
  text-decoration: none;
  font-size: 2rem;

}

footer{
  border-top: 2px solid  var(--color3);
}

footer > p{
  text-align: end;
  margin: 40px;
  font-size: 1.3rem;
}