
:root{
  --color1:rgb(69 69 243 / 75.1%);
  --color2:#1c31a5;
  --color3:#101f78;
  --color4:#020f59;
  --color5:#020f59;
  --background:#010937;
  --color-text:#f5f5ee;
  --color-bottom:linear-gradient(90deg, rgb(9 9 121 / 100%) 0%, rgb(0 153 255 / 100%) 100%);
}

body{
  font-family: Sora, sans-serif;
  background: var(--background);
  color:var(--color-text);
  margin: 0 65px;
}

li {
  list-style: none;
  margin-left: 25px;
}

pre{
  font-weight: 600;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.container{
  height: 200px;
}

a:hover{
  color: var(--color1);
}

#logo{
  font-size:2rem;
  margin: 0;
}

#encabezado{
  font-size:0.75rem;
  position: fixed;
  display:flex;
  justify-content:space-between;
  width: 90%;
  background-color: var(--color3);
  z-index: 3;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 5px 15px 10px;
}

#navbar ul{
  margin: 0;
  display:flex;
  justify-content:space-evenly;
  padding: 0;

}

#navbar{
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  
  

}

.saludo{
  font-size:3rem;
  margin-top: 40px;
  margin-bottom: 70px;
  text-align: center;
  animation: zoom 3.5s linear ;
}

@keyframes zoom {
  50%{
    transform: scale(1.5);
  }
  
}

#foto-parrafo{
  display: flex;
  justify-content: center;
  position: relative;
  gap: 90px;

}

.images{
  width: 230px;
  border-radius: 7px;
  box-shadow:  0 0 20px #001,20px 20px #09f;
  
}

article {
  width: 48%;
  line-height: 1.8em;
 
}

article > header{
  font-weight: bold;
  font-size: 1.8rem;
  
}

article > p{
  margin-top: 18px;
  margin-bottom: 18px;
}

section > header{
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.5rem;
}

a > img{
  width: 100%;
  border-radius: 7px;
  box-shadow:  0 0 20px #001,20px 20px #09f;
  transition: 1s;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
  height: 1300px;
  padding: 100px; 
}

a > img:hover{
  transform: scale(1.1);
  transition: 1s;
}

.experience{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  place-content: center center;
}